
:root {
  --basic-white: #ffffff;
  --grey-white: #F3F7F9;
  --dirty-white: #F1F5F7;
  --basic-red: #EE3643;
  --basic-grey: #A9A9A9;
  --black-light: #293449;
  --basic-black: #32425C;
  --dark-black: #000000;
  --dark-yellow: #FFBF47;
  --little-dark-yellow: #FFC047;
  --basic-yellow: #FFD180;
  --light-yellow: #FFFFFF;
  --sky-blue: #3BBCE3;
  --purple: #DC91D8;
  --light-green: #8ED78F;
  --transparent: rgba(0 0 0 100);
}

.page {

  height: 100%;
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-body {
  min-width: 940px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  font-weight: 400;
  font-style: normal;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/* шапка */
.main-header-menu-bar{
  background-color: var(--black-light);
}
.main-header{
  background-color: var(--dirty-white) ;
}
.container {
  width: 940px;
  margin: 0 auto;
}

.main-header-menu {
  display: grid;
  grid-template-columns: max-content 1fr max-content max-content max-content;
  padding: 0;
  margin: 0 auto;
  width: 940px;
}

.online-store {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 3;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  grid-template-rows: min-content min-content;
}

.main-header-menu-link {
  color: var(--basic-white);
}

.online-store {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.phone {
  color: var(--basic-red);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  font-style: normal;
}

.user-navigation {
  font-size: 21px;
  line-Height: 21px;
  color: var(--dark-black);
}

/*в каталоге*/

.user-name {
  font-size: 21px;
  line-Height: 21px;
  color: var(--dark-black);
}

.my-orders {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}

.personal-account {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}

/*главная навигация*/

.main-navigation {
  background-color: var(--black-light);
  width: 940px;
  text-align: center;
}

.main-navigation-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.main-navigation-item {
  list-style: none;
}

.main-navigation-link {
  color: var(--basic-white);
}

/*main*/

.container {
  width: 940px;
}

.offer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.offer-slider {
  margin: 0;
  padding: 0;
  display: grid;

}

.slider-drill-hammer {
  margin: 0;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;

}

.offer-slider-item {
  margin: 0;
  padding: 0;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
}

.offer-slide-picture {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

.perforators-and-drill {
  grid-column: 1;
  grid-row: 1;
}

.perforators-text {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
}

.drils {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.perforators {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.offer-catalog-link {
  grid-column: 1;
  grid-row: 1;
  margin-top: 200px;
}

.offer-name {
  font-size: 24px;
  line-height: 24px;
  color: var(--basic-white);
}

.offer-link {
  color: var(--basic-white);
}

.materials {
  background-color: var(--dark-yellow);
}

.tools {
  background-color: var(--sky-blue);
}

.technics {
  background-color: var(--purple)
}

.discounts {
  background-color: var(--light-green);
  grid-column: -2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.delivery {
  background-color: var(--little-dark-yellow);
  grid-column: -2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.offers-and-slider {
  display: grid;
}

.offer-slider {
  margin: 0;
  padding: 0;
}

.offer-slider-item {
  list-style: none;
}

.offer-slide-name {
  font-weight: 700;
  color: var(--basic-white);
  font-size: 36px;
  line-height: 36px;
}

.offer-slide-text {
  color: var(--basic-white);
}

.offer-catalog-link {
  color: var(--basic-white);
}

.offer-slider-arrow {
  background-color: var(--transparent);
}

.main-button {
  background-color: var(--basic-red);
}

/*  популярные товары*/

.caption-popular {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.goods-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark-black);
  text-transform: uppercase;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  background-color: var(--basic-white);
  margin: 0;
  padding: 0;
}

.goods-photo {
  display: block;
  margin: 0 auto;
}

.goods-model {
  font-size: 18px;
  line-height: 20px;
  color: var(--dark-black);
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-grey);
  text-decoration: line-through;
  text-transform: uppercase;
}

.new-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
}

/*популярные производители*/

.all-popular {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.manufacturer-picture {
  color: var(--basic-white);
}

.popular-manufacturers-list {
  list-style: none;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content max-content;
  column-gap: 20px;
  row-gap: 20px;
}

.popular-manufacturers-link {
  vertical-align: center;
}

/*services*/

.services{
  background-color: var(--dirty-white);
}
.caption-services {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-black);
}

.services-text {
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-black);
}

/*services slider*/
.services-text {
  width: 394px; /* ? */
}

.services-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-black);
}

.services-slider-list {
  display: grid;
  grid-template-columns: 1fr 2fr; /* ? */
}

.services-slider-item {
  list-style: none;
}

.services-slider-text {
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-black);
}

.services-credit-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.services-slider-btn {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--dark-black);
  display: block;
}

.services-btn-active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: var(--basic-white) 1px solid;
}

.services-slider {
  display: grid;
  grid-template-columns: max-content 1fr;


}

/*about us*/
.about-and-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.caption-about-us {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-black);
}

.about-us-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-black);
}

.transport-company-list {
  color: var(--dark-black);
  list-style: none;
}

.transport-company-btn {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

/*contacts*/

.contacts {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-black);
}

.contacts-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-black);
}

.contacts-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

/* подвал */
.footer-up-bar{
  background-color: var(--basic-black);
}
.footer-nav-and-logo {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.links-and-product {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.footer-navigation-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--dirty-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer-navigation-item {
  list-style: none;
}

.footer-address {
  font-style: normal;
  color: var(--grey-white);
}

.footer-phone {
  color: var(--grey-white);
}

.footer-products-item {
  list-style: none;
}

.footer-product-link {
  color: var(--basic-yellow);
}

.footer-copyright-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-social-list {
  list-style: none;
}

.footer-feedback-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-feedback-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-yellow);
  grid-column-start: 3;
  grid-column-end: 4;
}

.footer-developed-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.footer-developed {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-yellow);
}
.footer-bottom-bar{
  background-color: var(--dark-black);

}
.bottom-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content max-content;
}

/* main catalog */

.breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
}

/* фильтр */

.caption-drill-hammer {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
}

.caption-filter-toolbar {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
}

.drill-hammer-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
}

.price-value {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: var(--dark-black);
}

.caption-manufacturers {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
}

.manufacturers-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: var(--dark-black);
  text-transform: uppercase;
  list-style: none;
}

.caption-power {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
}

.power-stylization {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: var(--dark-black);
  text-transform: uppercase;
}

.filter-result {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
}

/*сортировка*/

.caption-sorting {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
}

.sorting-item {
  list-style: none;
}

.sorting-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
}

.sorting-link-active {
  color: var(--basic-red);
}

/*витрина отсортированных перфораторов*/

.buy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.to-bookmarks {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--dark-black);

}

/*номер страницы*/

.page-number-item {
  list-style: none;
}

.page-number-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
}

.page-number-link-active {
  color: var(--basic-white);
}

.caption-drill-hammer-story {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
}

.drill-hammer-story {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-black);
}
