
:root {
  --basic-white: #ffffff;
  --grey-white: #F3F7F9;
  --dirty-white: #F1F5F7;
  --basic-red: #EE3643;
  --basic-grey: #A9A9A9;
  --black-light: #293449;
  --basic-black: #32425C;
  --dark-black: #000000;
  --dark-yellow: #FFBF47;
  --little-dark-yellow: #FFC047;
  --basic-yellow: #FFD180;
  --light-yellow: #FFFFFF;
  --sky-blue: #3BBCE3;
  --purple: #DC91D8;
  --light-green: #8ED78F;
  --transparent: rgba(0 0 0 100);
}

.page {
  height: 100%;
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-body {
  min-width: 940px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  font-weight: 400;
  font-style: normal;

}

/* шапка */
.main-header-menu-bar {
  background-color: var(--black-light);
}

.main-header {
  background-color: var(--dirty-white);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.main-header-menu {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0 auto;
  width: 940px;
}

.main-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: red 1px solid;
  outline-offset: -1px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.main-header-menu a {
  outline: #F1F5F7 1px solid;
  outline-offset: -1px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header-menu-link {
  color: var(--basic-white);
}

.online-store {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
  outline: #3BBCE3 1px solid;
  max-width: 197px;
}

.phone {
  color: var(--basic-red);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  outline: #3BBCE3 1px solid;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  font-style: normal;
  outline: #3BBCE3 1px solid;
}

.user-navigation {
  font-size: 21px;
  line-Height: 21px;
  color: var(--dark-black);
  outline: #3BBCE3 1px solid;
}

/*в каталоге*/

.user-name {
  font-size: 21px;
  line-Height: 21px;
  color: var(--dark-black);
}

.my-orders {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}

.personal-account {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}

/*главная навигация*/

.main-navigation {
  background-color: var(--black-light);
  width: 940px;
  text-align: center;
}

.main-navigation-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.main-navigation-item {
  list-style: none;
}

.main-navigation-link {
  color: var(--basic-white);
}

/*main*/

.container {
  width: 940px;
}

.offer-list {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.offer-list :last-child{
  margin-right:0;
}
.offer-item{
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 25px;
}
.discounts-and-delivery{
  order: 3;
  margin-top: 0;
  margin-left: 20px;
  padding: 0;
  width: 300px;
}

.offers-and-slider{
  display: flex;
  flex-wrap: wrap;
}
.offer-slider {
  margin: 0;
  padding: 0;
}

.offer-slider-item {
  margin: 0;
  padding: 0;
  height: 266px;
  width: 620px;
  background-image: url("img/photo-drill-hammer.jpg");
  background-size: 620px 266px;
  background-repeat: no-repeat;
}

.offer-slide-picture {
  width: 620px;
  height: 266px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

.all-popular-goods{
  display: flex;
  justify-content: space-between;
}

.perforators-and-drill {
  grid-column: 1;
  grid-row: 1;
}

.drils {
  background-image: url("img/photo-drill.jpg");
  background-size: 620px 266px;
  background-repeat: no-repeat;
}

.offer-name {
  font-size: 24px;
  line-height: 24px;
  color: var(--basic-white);
  margin: 0;
}

.offer-link {
  color: var(--basic-white);
}

.materials {
  background-color: var(--dark-yellow);
}

.tools {
  background-color: var(--sky-blue);
}

.technics {
  background-color: var(--purple)
}

.discounts {
order:3;
  background-color: var(--light-green);
}

.delivery {
  background-color: var(--little-dark-yellow);
}
.offer-slider {
  margin: 0;
  padding: 0;
}

.offer-slider-item {
  list-style: none;
}

.offer-slide-name {
  font-weight: 700;
  color: var(--basic-white);
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.offer-slide-text {
  color: var(--basic-white);
}

.offer-catalog-link {
  color: var(--basic-white);
}

.offer-slider-arrow {
  background-color: var(--transparent);
}

.main-button {
  background-color: var(--basic-red);
}

/*  популярные товары*/

.all-popular-manufactures{
  display: flex;
  justify-content: space-between;
}

.caption-popular {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.goods-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark-black);
  text-transform: uppercase;
  list-style: none;
  display: flex;
  align-content: center;
  margin: 0;
  padding: 0;
  outline: red 5px solid ;
  outline-offset: -5px;
}

.goods-list :last-child{
  margin-right: 0;
}

.goods-card{
  width: 220px;
  height: 318px;
  outline: #3BBCE3 2px solid;
  outline-offset: -2px;
  margin-right: 20px;
}

.goods-photo {
  display: block;
  margin: 0 auto;
}

.goods-model {
  font-size: 18px;
  line-height: 20px;
  color: var(--dark-black);
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-grey);
  text-decoration: line-through;
  text-transform: uppercase;
}

.new-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
}

/*популярные производители*/

.all-popular {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.popular-manufacturers-list {
  list-style: none;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-manufacturers-item{
  display: flex;
  list-style: none;
  width: 220px;
  height: 145px;
  background-color: var(--basic-white);
  outline: green 2px solid;
  outline-offset: -2px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.popular-manufacturers-list :nth-child(n+4){
  margin-right: 0;
}

.bosh-link{
  width: 126px;
  height: 40px;
}

.popular-manufacturers-link {
  display: block;
  margin: auto;
  outline: burlywood 2px solid;
  outline-offset: -2px;
}

/*services*/

.services {
  background-color: var(--dirty-white);
}

.caption-services {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-black);
}

.services-text {
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-black);
  width: 394px;
}

/*services slider*/


.services-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.services-slider-inner{
  display: flex;
  justify-content: flex-start;
}

.services-slider-list {
  margin: 0;
  padding: 0;
}

.services-delivery {
  width: 619px;
  height: 283px;
  background-image: url("img/delivery.png");
  background-repeat: no-repeat;
}
.warranty-text{
  width: 285px;
  height: 122px;
}

.services-warranty{
  width: 619px;
  height: 283px;
  background-image: url("img/warranty.png");
  background-repeat: no-repeat;
}

.services-credit{
  width: 619px;
  height: 283px;
  background-image: url("img/credit.png");
  background-repeat: no-repeat
}
.services-slider-text {
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-black);
}
.services-delivery{


}

.services-credit-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.services-slider-btn {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--dark-black);
  display: block;
}

.services-btn-active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: var(--basic-white) 1px solid;
}

/*about us*/

.about-and-contact {
  display: flex;
  justify-content: space-between ;
}

.caption-about-us {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-black);
}

.about-us-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-black);
}

.transport-company-list {
  color: var(--dark-black);
  list-style: none;
}

.transport-company-btn {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

/*contacts*/

.contacts {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-black);
}

.contacts-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-black);
}

.contacts-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

/* подвал */
.footer-up-bar {
  background-color: var(--basic-black);
}

.footer-nav-and-logo {
 display: flex;
  justify-content: space-between;
}

.links-and-product {
  display: flex;
  justify-content: space-between;
}

.footer-navigation-list{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.footer-navigation-link {
  font-size: 18px;
  line-height: 24px;
  color: var(--dirty-white);
}

.footer-navigation-item {
  list-style: none;
}

.footer-address {
  font-style: normal;
  color: var(--grey-white);
}

.footer-phone {
  color: var(--grey-white);
}

.footer-products-list{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-products-item {
  list-style: none;
}
/* футер низ */

.footer-product-link {
  color: var(--basic-yellow);
}

.footer-copyright-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-social-list {
  list-style: none;

}

.footer-feedback-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-feedback-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-yellow);
  grid-column-start: 3;
  grid-column-end: 4;
}

.footer-developed-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-developed {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-yellow);
}

.footer-bottom-bar {
  background-color: var(--dark-black);
}

.bottom-footer {
 display: flex;
  justify-content: space-between;
}

/* main catalog */

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
}

.breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
}

/* фильтр */

.caption-drill-hammer {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
}

.filter{
  width: 220px;
}

.filter-sort-manufactures {
  display: flex;
  justify-content: space-between;
}

.filter-price{
  padding: 0;
  border: none;
}

.filter-manufacturers{
  border: none;
}

.filter-power{
  border: none;
}

.sorting {
  display: flex;
  justify-content: space-between;
  outline: #3BBCE3 3px solid;
  outline-offset: -3px;
  width: 100%;
}

.sorting-filter {
  display: flex;
  justify-content: space-between;
}

.sorting-list{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sorting-list :nth-child(n+2){
  margin-right: 0;
}
.caption-filter-toolbar {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
}

.drill-hammer-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
}

.price-value {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: var(--dark-black);
}

.caption-manufacturers {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
}

.manufacturers-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: var(--dark-black);
  text-transform: uppercase;
  list-style: none;
}

.caption-power {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
}

.power-stylization {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: var(--dark-black);
  text-transform: uppercase;
}

.filter-result {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
}

/*сортировка*/

.caption-sorting {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
}

.sorting-item {
  list-style: none;
}

.sorting-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
}

.sorting-link-active {
  color: var(--basic-red);
}

/*витрина отсортированных перфораторов*/

.buy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.to-bookmarks {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--dark-black);
}

.goods-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sorting-list:nth-child(2+n){
  margin-right: 0;
}


/*номер страницы*/

.page-number {
  display: flex;
  justify-content: flex-start;
}

.page-number-item {
  list-style: none;
}

.page-number-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
}

.page-number-link-active {
  color: var(--basic-white);
}

.caption-drill-hammer-story {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
}

.drill-hammer-story {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-black);
  margin: 0;
  padding: 0;
}

.perforators-story {
  background-color: var(--dirty-white);
}
