
:root {
  --basic-white: #ffffff;
  --grey-white: #F3F7F9;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --transparent-grey: rgba(200, 200, 200, 0.3);
  --transparent-light-grey: rgba(227, 227, 227, 0.3);
  --grey: #B7BFC8;
  --grey-beige: #C5C5C5;
  --grey-radio: #b5b5b5;
  --modal-grey: #F4F4F4;
  --dirty-white: #F1F5F7;
  --basic-red: #EE3643;
  --medium-red: #CA2C37;
  --dark-red: #BA2732;
  --basic-grey: #A9A9A9;
  --light-grey: #F2F6F8;
  --shadow-grey: #ABABAB;
  --black-light: #293449;
  --basic-black: #32425C;
  --dark-black: #000000;
  --dark-yellow: #FFBF47;
  --little-dark-yellow: #FFC047;
  --basic-yellow: #FFD180;
  --light-yellow: #FFFFFF;
  --sky-blue: #3BBCE3;
  --purple: #DC91D8;
  --dirty-dark-green: #518534;
  --dark-green: #046a14;
  --green: #63A63E;
  --light-green: #8ED78F;
  --bright-light-green: #5FBB2D;
  --transparent: rgba(0, 0, 0, 0.01);
  --light-beige: #F9F5F0;
  --beige: #EAEAEA;
  --cart-shadow: rgba(0, 0, 0, 0.15);
  --modal-shadow: rgba(0, 0, 0, 0.75);
}

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body a {
  text-decoration: none;
}

.img {
  max-width: 100%;
  height: auto;
}

.page-body {
  min-width: 960px;
  min-height: 100%;
  margin: 0;
  padding: 0 10px 0 10px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  font-weight: 400;
  font-style: normal;
}

.main-button {
  background-color: var(--basic-red);
  border: none;
  color: var(--basic-white);
}

.dash{
  color: var(--basic-black);
  padding-top: 10px;
}

.main-button:hover {
  background-color: var(--medium-red);
}

.main-button:active {
  background-color: var(--dark-red);
}

/* шапка */

.main-header-menu-bar {
  background-color: var(--black-light);
  height: 42px;
  margin-bottom: 39px;
}

.main-header {
  background-color: var(--dirty-white);
  padding-bottom: 60px;
  margin-bottom: 58px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* верх шапки--> */

.logo-link {
  width: 108px;
  height: 18px;
  border-bottom: var(--dark-red) 5px solid;
  position: absolute;
  padding: 12px 55px;
  background-color: var(--basic-red);
}

.logo:active {
  background-color: var(--medium-red);
}

.main-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0;
  margin-left: 220px;
  width: 720px;
  height: 42px;
  position: relative;
}

.main-header-link-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-header-menu-link {
  color: var(--basic-white);
  display: block;
  padding-bottom: 8px;
  padding-top: 10px;
}

.header-search-input {
  display: block;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--black-light);
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 42px;
  width: 275px;
  box-sizing: border-box;
  outline: none;
  position: relative;
}

.header-search-icon {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  top: 11px;
  left: 16px;
}

.header-search-input::placeholder {
  color: var(--basic-white);
}

.header-search-input:focus::placeholder {
  color: var(--basic-black);
}

.header-search-input:focus {
  background-color: var(--basic-white);
}

.header-search-input:focus + .header-search-icon path {
  fill: var(--basic-red);
}

.order {
  padding-right: 16px;
  padding-left: 18px;
  background-color: var(--green);
  font-size: 18px;
  line-height: 24px;
}

.order:hover {
  background-color: var(--light-green);
}

.order:active {
  color: var(--dirty-white);
  background-color: var(--green)
}

.basket {
  padding-right: 27px;
  padding-left: 24px;
  position: relative;
}

.basket:active,
.bookmarks:active {
  color: var(--light-yellow);
  opacity: 0.5;
}

.basket::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 1px;
  top: 13px;
  opacity: 0.3;

}

.bookmarks {
  padding-left: 26px;
  padding-right: 49px;
  position: relative;
}

.search:hover::before,
.bookmarks:hover::before,
.basket:hover::before {
  opacity: 1;
}

.bookmarks::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  background-image: url("../img/Shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 3px;
  top: 13px;
  opacity: 0.3;
}

/* контент шапки */

.header-content {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.online-store {
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: var(--basic-red);
  max-width: 1192px;
  margin: 4px 0 0 30px;
}

.contacts-inner {
  margin-left: 30px;
  width: 380px;
}

.phone {
  display: block;
  color: var(--basic-red);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  padding-left: 72px;
  padding-top: 4px;
  padding-bottom: 5px;
  border: 3px var(--basic-white) solid;
  position: relative;
  margin-left: 52px;
  margin-top: 7px;
  margin-bottom: 3px;
  width: 192px;
}

.phone::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 36px;
  top: 10px
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  font-style: normal;
  margin-left: 62px;
}

.catalog-address {
  margin-left: 72px;
}

.user-navigation-catalog {
  margin-bottom: 10px;
}

.phone-catalog {
  margin-left: 61px;
  margin-top: 4px;
}

.contacts-wrap {
  margin-right: 0;
}

.user-navigation {
  font-size: 21px;
  line-Height: 21px;
  color: var(--dark-black);
  background-color: var(--basic-white);
}

.main-user-navigation-inner{
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  align-items: flex-start;
}

.sign-in {
  display: block;
  padding: 12px 27px 12px 45px;
  position: relative;
  margin-right: 5px;
}

.sign-in:hover,
.registration:hover {
  color: var(--basic-red);
}

.sign-in:active,
.registration:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.sign-in::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  left: 19px;
  top: 15px;
  color: black;
}

.sign-in:hover::before {
  opacity: 1;
  background-image: url("../img/icon-login-hover.svg");
}

.registration {
  display: block;
  padding: 11px 24px;
  margin-left: 5px;
}

/*в каталоге шапка*/

.catalog-header-bar {
  margin-bottom: 30px;
}

.main-header-catalog {
  margin-bottom: 21px;
}

.basket-in-catalog {
  background-color: var(--basic-red);
}

.user-name-inner{
  position: relative;
}

.user-name {
  font-size: 21px;
  line-Height: 21px;
  color: var(--dark-black);
  padding: 12px 54px 12px 59px;
  background-color: var(--basic-white);
  position: relative;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 300px;
  box-sizing: border-box;
}

.user-name:active {
  opacity: 0.5;
}

.user-name-logout {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-logout.svg");
  background-position: 0 0;
  top: 14px;
  right: 18px;
  background-repeat: no-repeat;
  opacity: 0.5;

}

.user-name::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-position: 0 0;
  top: 13px;
  left: 16px;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.user-name-logout:hover,
.user-name:hover::before {
  opacity: 1;
}

.user-name-logout:active,
.user-name:active::before {
  opacity: 0.5;
}

.my-orders {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  margin-left: 45px;
  padding-right: 29px;
  position: relative;
}

.my-orders:hover,
.personal-account:hover {
  color: var(--basic-red);
}

.my-orders:active,
.personal-account:active {
  color: var(--basic-black);
  opacity: 0.5;
}

.my-orders::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--basic-black);
  right: 10px;
  top: 7px;
}

.my-orders:hover::after {
  background-color: var(--basic-red);
}

.my-orders:active::after {
  background-color: var(--basic-black);
  opacity: 0.5;
}

.header-content-catalog {
  margin-bottom: 30px;
}

.personal-account {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  margin-right: 44px;
}

/*главная навигация*/

.main-navigation {
  background-color: var(--black-light);
  width: 940px;
  text-align: center;
  border-bottom: 4px solid var(--dark-black);
}

.main-navigation-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 26px 0 26px;

}

.main-navigation-item {
  list-style: none;
}

.main-navigation-link {
  color: var(--basic-white);
  display: block;
  padding: 17px 25px 15px;
}

.main-navigation-link:hover {
  background-color: var(--dark-black);
}

.main-navigation-link:active {
  color: var(--light-yellow);
  opacity: 0.5;
}

/*main*/

.container {
  width: 940px;
}

/* предложения */

.offer {
  margin-bottom: 36px;
}

.offer-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

.offer-list:last-child {
  margin-right: 0;
}

.offer-item {
  height: 123px;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 19px;
  padding-top: 0;
  position: relative;
  overflow: hidden;
}

.materials::after {
  content: "NEW";
  position: absolute;
  display: block;
  height: 30px;
  width: 120px;
  text-align: center;
  background-color: var(--basic-red);
  transform: rotate(45deg);
  top: 11px;
  right: -36px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 3px;
}

.offer-name {
  font-size: 24px;
  line-height: 24px;
  color: var(--basic-white);
  margin: 24px 0 17px 22px;
  letter-spacing: 1px;
}

.materials {
  background-color: var(--dark-yellow);
  background-image: url("../img/icon-materials.svg");
  background-repeat: no-repeat;
  background-position: 212px 31px;
}

.tools {
  background-image: url("../img/icon-tools.svg");
  background-repeat: no-repeat;
  background-position: 194px 35px;
  background-color: var(--sky-blue);
}

.technics {
  background-image: url("../img/icon-technics.svg");
  background-repeat: no-repeat;
  background-position: 190px;
  background-color: var(--purple)
}

.discounts {
  background-image: url("../img/icon-discounts.svg");
  background-repeat: no-repeat;
  background-position: 196px;
  background-color: var(--light-green);
  margin-bottom: 15px;
}

.discounts :first-child {
  margin-bottom: 14px;
}

.delivery {
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: var(--little-dark-yellow);
}

.delivery :first-child {
  margin-bottom: 14px;
}

.offer-link {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--basic-white);
  width: 133px;
  display: block;
  margin-left: 23px;
  border: 1px var(--transparent-white) solid;
  background-color: var(--transparent-white);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 6px;
  text-transform: uppercase;
}

.offer-link:hover {
  background-color: var(--transparent-light-grey);
}

.offer-link:active {
  background-color: var(--transparent-grey);
}

/* слайдер */

.offer-slider {
  margin: 0;
  padding: 0;
}

.offer-slider-item {
  margin: 0 0 0 0;
  padding-top: 23px;
  padding-left: 24px;
  height: 266px;
  width: 620px;
  background-image: url("../img/photo-drill-hammer.jpg");
  background-size: 620px 266px;
  background-repeat: no-repeat;
  list-style: none;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  display: none;
}

.drills {
  background-image: url("../img/photo-drill.jpg");
  background-size: 620px 266px;
  background-repeat: no-repeat;
}

.slider-drill-hammer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  position: relative;
}

.offer-slide-name {
  font-weight: 700;
  color: var(--basic-white);
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.offer-slide-text {
  display: block;
  color: var(--basic-white);
  text-transform: none;
  font-weight: 400;
  margin-top: 5px;

}

.offer-catalog-link {
  font-size: 14px;
  line-height: 18px;
  width: 100px;
  height: 28px;
  color: var(--basic-white);
  padding: 12px 45px 0 47px;
  position: absolute;
  bottom: 50px;
  left: 24px;
}

.offer-slider-arrow {
  position: absolute;
  top: 121px;
  background-color: var(--transparent);
  border: none;
  cursor: pointer;
  outline: none;
}

.right-arrow {
  right: 35px;
}

.left-arrow {
  left: 17px
}

.offer-slider-control {
  padding: 0;
  width: 10px;
  height: 10px;
  border: var(--basic-white) 2px solid;
  border-radius: 50%;
  position: absolute;
  bottom: 60px;

}

.slide-left-perforators {
  left: 295px;
  background-color: var(--basic-white);
}

.slide-right-perforators {
  right: 319px;
  background-color: var(--basic-red);
}

.slide-left-drill {
  background-color: var(--basic-red);
  left: 295px;
}

.slide-right-drill {
  right: 315px;
  background-color: var(--basic-white);
}

/*  популярные товары*/

.popular {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-beige);
  align-items: center;
}

.all-popular-goods {
  margin-bottom: 18px;
}

.all-popular {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  width: 192px;
  height: 38px;
  margin-right: 14px;
  margin-bottom: 3px;
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 1px;
  outline: none;
}

.caption-popular {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-left: 27px;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.goods-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark-black);
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 50px 0;
  padding: 0;
}

.goods-list :nth-child(4) {
  margin-right: 0;
}

.new {
  position: relative;
}

.new::after {
  content: "NEW";
  position: absolute;
  display: block;
  height: 30px;
  width: 100px;
  text-align: center;
  background-color: var(--basic-red);
  transform: rotate(45deg);
  top: 11px;
  right: -26px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 3px;
  background-repeat: no-repeat;
  color: white;
  z-index: 10;
}

.goods-item {
  border: var(--beige) 1px solid;
  margin-right: 20px;
  margin-bottom: 18px;
  background-color: var(--basic-white);
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.goods-card {
  position: relative;
  display: flex;
  width: 218px;
  height: 316px;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: -2;
}

.pics-inner {
  display: flex;
  width: 215px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: var(--basic-white);
  box-sizing: border-box;
}

.goods-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.goods-card:hover > .pics-inner {
  z-index: -1;
}

.goods-button-inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;
  background-color: var(--basic-white);
  width: 100%;
  z-index: 0;
}

.bfg-9000-inner {
  margin: 5px;
}

.bfg-9000 {

  width: 184px;
  height: 164px;
}

.bfg-3000-inner {
  margin-top: 28px;
  margin-bottom: 35px;
  padding-right: 13px;
}

.bfg-3000 {
  display: block;
  width: 127px;
  height: 112px;

}

.bfg-6000-inner {
  margin-top: 21px;
  padding-right: 12px;
  margin-bottom: 5px;
}

.bfg-6000 {
  width: 144px;
  height: 128px;
  margin-bottom: 20px;

}

.bfg-2000-inner {
  margin-top: 28px;
  padding-right: 15px;
  margin-bottom: 35px;
}

.catalog-goods-item .bfg-2000-inner {
  margin-bottom: 0;
}

.bfg-2000 {
  width: 127px;
  height: 112px;
}

.goods-button-hover {
  display: block;
  width: 135px;
  height: 38px;
}

.goods-buy-link {
  display: block;
  background-color: var(--green);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin: 0 0 10px 0;
  box-sizing: border-box;
  border-bottom: var(--dark-green) 4px solid;
  border-radius: 2px;
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  width: 135px;
  cursor: pointer;
}

.goods-buy-link:hover {
  background-color: var(--bright-light-green);
}

.goods-buy-link:active {
  background-color: var(--dirty-dark-green);
}

.goods-buy-link::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-green-cart.svg");
  background-repeat: no-repeat;
  left: 25px;
  opacity: 0.5;
}

.to-bookmarks-link {
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 7px;
  padding-bottom: 15px;
  margin: 0 0 38px 0;
  box-sizing: border-box;
  border: 3px solid var(--green);
  border-radius: 2px;
  color: var(--basic-black);

}

.to-bookmarks-link:hover {
  border: 3px solid var(--basic-black);
}

.to-bookmarks-link:active {
  border: 3px solid var(--basic-black);
  opacity: 0.5;
}

.goods-model {
  font-family: "PT Sans", Arial, sans-serif;
  display: block;
  font-size: 18px;
  line-height: 20px;
  color: var(--dark-black);
  font-weight: 700;
  text-align: center;
  margin: 5px 0 8px 0;
  padding: 0;
  box-sizing: border-box;
}

.mark {
  text-transform: uppercase;
}

.model-letter {
  text-transform: uppercase;
  display: block;
}

.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-grey);
  text-decoration: line-through;
  text-transform: uppercase;
  display: block;
  margin-bottom: 13px;
}

.old-price-catalog {
  margin-left: 20px;
}

.new-price {
  display: block;
  padding: 10px 22px 10px 30px;
  margin-bottom: 20px;
  margin-right: 12px;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  border-radius: 5px 0 0 5px;
  position: relative;
  width: 124px;
  height: 38px;
  box-sizing: border-box;
}

.new-price::after {
  content: "";
  position: absolute;
  left: 124px;
  bottom: 0;
  border: 19px solid transparent;
  border-left: 20px solid var(--basic-red);
}

.new-price:hover::after {
  border-left: 19px solid var(--medium-red);
}

.new-price:active::after {
  border-left: 19px solid var(--dark-red);
}

.price-sorting-item{
  border: none;
}

.sorting-list :nth-child(4) {
  margin-right: 20px;

}

/*популярные производители*/

.all-popular-manufactures {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.manufacturers-button {
  margin-right: 19px;
}

.popular-manufacturers-list {
  list-style: none;
  color: var(--basic-white);
  margin: 0 0 50px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-manufacturers-list :nth-child(n+4) {
  margin-right: 0;
}

.popular-manufacturers-item {
  display: flex;
  list-style: none;
  width: 220px;
  height: 145px;
  background-color: var(--basic-white);
  margin-right: 20px;
  margin-bottom: 20px;
  outline: #B7BFC8 1px solid;
}

.popular-manufacturers-item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-manufacturers-item:active {
  opacity: 0.5;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-manufacturers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*services*/

.services {
  margin-bottom: 49px;
  background-color: var(--dirty-white);
}

.services-container {
  background-position: 100px 100px;
}

.caption-services {
  display: inline-block;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-black);
  margin-top: 64px;
  margin-bottom: 25px;
  text-transform: uppercase;
  vertical-align: center;
}

.services-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--dark-black);
  width: 390px;
  margin-bottom: 68px;
  margin-top: 0;
}

/*services slider*/

.services-name {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  margin: 0 0 28px 0;
  padding: 0;
  text-transform: uppercase;
  display: block;

}

.services-slider-inner {
  display: flex;
  justify-content: flex-start;
}

.services-slider-buttons {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.services-slider-list {
  margin: 0;
  padding: 0;
}

.services-slider-item {
  list-style: none;
}

.services-delivery {
  width: 619px;
  height: 283px;
  background-repeat: no-repeat;
  background-position: right 20px;
  display: none;
}

.services-delivery {
}

.services-delivery {
  background-image: url('../img/delivery.png');
}

.warranty-caption {
  margin-bottom: 24px;
}

.warranty-text {
  width: 285px;
  height: 122px;
}

.services-warranty {
  width: 619px;
  height: 283px;
  background-image: url("../img/warranty.png");
  background-repeat: no-repeat;
  background-position: 240px;
  display: none;
}

.services-credit {
  width: 619px;
  height: 283px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  display: none;
}

.services-slider-text {
  font-size: 13px;
  line-height: 25px;
  color: var(--dark-black);
}

.services-credit-link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  width: 195px;
  height: 38px;
  text-align: center;
  padding-top: 10px;
  border-radius: 2px;
  box-sizing: border-box;
}

.services-slider-btn {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-black);
  display: block;
  width: 240px;
  height: 61px;
  border: none;
  padding-right: 125px;
  padding-top: 11px;
  padding-bottom: 19px;
  box-sizing: border-box;
  border-bottom: 1px var(--black-light) solid;
  cursor: pointer;
}

.services-slider-btn:hover {
  background-color: var(--dark-black);
}

.services-slider-btn:last-child {
  padding-right: 140px;
  padding-top: 13px;
}

.services-slider-btn:first-child {
  padding-right: 125px;
  padding-top: 10px;
  padding-bottom: 22px;
}

.services-shadow {
  position: relative;
}

.services-shadow::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 279px;
  background-image: url("../img/shadow.svg");
  top: -50px;
  right: -1px;
}

.services-btn-active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: var(--basic-white) 1px solid;
}

.services-btn-active:hover {
  background-color: var(--basic-white);
}

/*about us*/

.about-and-contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-us {
  width: 484px;
}

.caption-about-us {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
  margin-bottom: 23px;
}

.about-us-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: var(--dark-black);
}

.slogan {
  margin-bottom: 28px;
  width: 450px;
}

.transport-text {
  width: 390px;
  margin: 0 0 3px 0;
}

.transport-company-list {
  color: var(--dark-black);
  list-style: none;
  margin: 0 0 18px 0;
  padding: 0;
}

.transport-company-item {
  margin-bottom: 12px;
  padding-left: 37px;
  position: relative;
}

.transport-company-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  border-bottom: 2px solid var(--basic-red);
  background-repeat: no-repeat;
  left: 0;
  top: 8px;
}

.transport-company-link {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-white);
  width: 220px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
  vertical-align: center;
}

/*contacts*/

.contacts-section {
  width: 301px;
}

.caption-contacts {
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: var(--dark-black);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contacts-text {
  display: inline-block;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: var(--dark-black);
  width: 200px;
  margin-bottom: 32px;
  vertical-align: top;
}

.map {
  margin-bottom: 18px;
}

.contacts-link {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-white);
  width: 301px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
  vertical-align: center;
}

/* подвал */
.footer-up-bar {
  background-color: var(--basic-black);
}

.footer-nav-and-logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  position: relative;
}

.footer-logo {
  width: 138px;
  height: 23px;
  padding: 20px 41px 20px;
  position: absolute;
  background: var(--basic-red);
  border-bottom: var(--dark-red) 5px solid;
}

.footer-navigation-list {
  display: flex;
  justify-content: space-between;
  margin-left: 340px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-right: 250px;
  padding-left: 25px;
}

.footer-navigation-list:last-child {
  padding-right: 0;
}

.footer-navigation-item {
  list-style: none;
}

.footer-navigation-item:last-child a {
  padding-right: 0;
}

.footer-navigation-link {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: var(--dirty-white);
  padding: 37px 32px 17px 27px;
}

.links-and-product {
  display: flex;
  justify-content: space-between;

}

.footer-navigation-link:hover {
  text-decoration: underline;
}

.footer-product-link:hover {
  text-decoration: underline;
}

.footer-product-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-navigation-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-links {
  width: 350px;
  margin-bottom: 54px;
}

.footer-address {
  font-style: normal;
  color: var(--grey-white);
  margin-left: 2px;
}

.footer-phone {
  color: var(--grey-white);
  margin-left: 3px;
}

.footer-products-list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 54px 0;
  padding: 0 30px 0 30px;
}

.footer-products-list:last-child {
  padding-right: 0;
}

.footer-product-link {
  color: var(--basic-yellow);
  display: block;
  padding: 6px 30px 10px 30px;
}

.footer-products-item {
  list-style: none;
  margin: 0;
}

.footer-products-item:last-child a {
  padding-right: 0;
}

/* футер низ */

.footer-copyright-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  width: 229px;
  margin-left: 2px;
}

/* социальнные кнопки*/

.footer-bottom-bar {
  background-color: var(--black-light);
}

.footer-social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 134px;
  height: 44px;
  margin: 0 118px 0 116px;
}

.footer-feedback-inner {
  margin-right: 50px;
}

.footer-feedback-text {
  font-size: 16px;
  line-height: 16px;
  color: var(--basic-white);
  margin: 0;
}

.footer-social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  background: var(--dark-black);
}

.footer-social-button:hover,
.footer-social-button:active {
  background-color: var(--basic-red);
}

.footer-feedback-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-yellow);
}

.footer-feedback-link:hover {
  text-decoration: underline;
}

.footer-feedback-link:active {
  color: var(--basic-red)
}

.footer-developed-inner {
  margin-right: 11px;
  margin-bottom: 31px;
}

.footer-developed-link:hover {
  text-decoration: underline;
}

.footer-developed-link:active {
  color: var(--basic-red);
}

.footer-developed-text {
  font-size: 16px;
  line-height: 16px;
  color: var(--basic-white);
  margin: 0;
}

.footer-developed-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-yellow);
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
}


/* main catalog */


.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  list-style: none;
  margin-right: 1px;
}

.breadcrumbs-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  display: block;
  margin: 0;
}

.breadcrumbs-list :first-child a {
  padding-left: 0;
}

.breadcrumbs-link::after {
  position: absolute;
  content: "";
  height: 14px;
  width: 8px;
  right: -4px;
  top: 0;
  background-image: url("../img/icon-right-small-arrow.svg");

}

.breadcrumbs-current::after {
  display: none;
}

/* фильтр */

.caption-drill-hammer {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--light-grey);
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
}

.filter {
  width: 220px;
  margin-right: 20px;
}

.caption-filter-toolbar {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
  padding: 10px 151px 10px 18px;
  background-color: var(--light-beige);
  margin: 0 0 13px 0;
  text-transform: uppercase;
}

.filter-sort-manufactures {
  display: flex;
  justify-content: space-between;
}

.filter-price {
  width: 220px;
  padding: 0 0 25px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid var(--grey-beige);
  margin: 0 0 14px 0;
}

.range-filter {
  width: 220px;
  margin-top: 10px;
}

.filter-form legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  background-color: var(--light-beige);
  height: 80px;
  border-radius: 5px;
  margin-bottom: 9px;
  padding-top: 39px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-grey);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--bright-light-green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow-grey);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 158px;
}

.price-controls input {
  text-transform: uppercase;
  width: 95px;
  height: 40px;
  padding: 10px 10px 10px 25px;
  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 5px;
  background: var(--light-beige);
  box-sizing: border-box;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

/* по производителям */

.filter-manufacturers {
  border-bottom: 1px solid var(--grey-beige);
  border-right: 0;
  border-left: 0;
  border-top: 0;
  padding: 0;
  margin: 0 0 17px 0;

}

.filter-power {
  border: none;
  padding: 0;
  margin: 0;
}

.sorting-filter {
  display: flex;
  justify-content: space-between;
}

.sorting-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 0 0;
  padding: 0;

}

.sorting-list :nth-child(3n) {
  margin-right: 0;
  margin-left: 0;
}

.price-value {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: var(--dark-black);
  width: 180px;
}

.caption-manufacturers {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
  margin-bottom: 18px;
}

.manufacturers-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: var(--dark-black);
  text-transform: uppercase;
  list-style: none;
  margin: 0 0 28px 0;
  padding-left: 0;
}

.manufacturers-item {
  padding-left: 35px;
  margin-bottom: 20px;
}

.manufacturers-item label {
  position: relative;
  display: block;
  cursor: pointer;
}

.manufacturers-checkbox + label::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border: 2px solid var(--grey-radio);
  border-radius: 3px;
  left: -35px;
  top: -2px;
  opacity: 0.6
}

.manufacturers-checkbox + label:hover::before {
  opacity: 1;
}

.manufacturers-checkbox:disabled + label::before {
  opacity: 0.2;
}

.manufacturers-checkbox:checked + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  left: -35px;
  top: -2px;
  opacity: 0.6;
  border: none;
}

.manufacturers-checkbox:checked:disabled + label::before {
  opacity: 0.2;

}

.manufacturers-checkbox:checked + label:hover::before {
  opacity: 1;
}

.manufacturers-checkbox:checked + label::after {
  opacity: 1;
  border: none;
}

/* электропитание */

.caption-power {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: var(--dark-black);
  margin-bottom: 22px;
}

.filter-power ul {
  margin: 0;
  padding: 0;
}

.filter-power-item {
  padding-left: 35px;
  position: relative;
  margin-bottom: 21px;
}

.filter-power-item label {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: var(--dark-black);
  text-transform: uppercase;
  padding-bottom: 0;
  padding-top: 0;
  display: block;
}

.filter-power-input + label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border: 4px solid var(--grey-beige);
  border-radius: 50%;
  left: 0;
  top: -3px;
  cursor: pointer;
}

.filter-power-input + label:hover::before {
  border: 4px solid var(--grey-radio);
}

.filter-power-input:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--grey-beige);
  border-radius: 50%;
  left: 8px;
  top: 5px;
  border: none;
  cursor: pointer;
}

.filter-power-input:checked + label:hover::after {
  background-color: var(--grey-radio);
}

.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 220px;
  height: 38px;
  border: 1px solid var(--grey-beige);
  background-color: var(--basic-white);
  margin-right: 20px;
  margin-top: 16px;
  padding: 0;
  cursor: pointer;
}

/*сортировка*/

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-beige);
  margin-bottom: 28px;
  height: 38px;
  width: 700px;
  box-sizing: border-box;
}

.caption-sorting {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
  padding-left: 19px;
  margin-right: 105px;
  text-transform: uppercase;
}

.sorting-item {
  list-style: none;
  display: block;
  padding: 0 34px 7px 35px;
  margin: 0;
}

.sorting-item a {
  display: block;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted var(--basic-red);
  opacity: 0.5;
  padding-top: 13px;
}

.sorting-item a:hover {
  opacity: 1;
  border-bottom: 1px solid var(--basic-red);
}

.sorting-item a:active {
  color: var(--basic-red);
  border: none;
  opacity: 1;

}

.vertical-arrows {
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.vertical-arrows-top {
  position: absolute;
  content: "";
  border-bottom: var(--dark-black) solid 11px;
  border-top: var(--light-beige) solid 11px;
  border-left: 6px var(--light-beige) solid;
  border-right: 6px var(--light-beige) solid;
  top: 6px;
  right: 49px;
  opacity: 0.2;
}

.vertical-arrows-bottom:hover,
.vertical-arrows-top:hover {
  opacity: 1;
}

.vertical-arrows-bottom:active {
  border-top: var(--basic-red) solid 11px;
}

.vertical-arrows-top:active {
  border-bottom: var(--basic-red) solid 11px;
}

.vertical-arrows-bottom {
  position: absolute;
  content: "";
  border-bottom: var(--light-beige) solid 11px;
  border-top: var(--dark-black) solid 11px;
  border-left: 6px var(--light-beige) solid;
  border-right: 6px var(--light-beige) solid;
  top: 18px;
  right: 16px;
  opacity: 0.2;
  background-color: red;
  padding: 0;
  margin: 0;
}

/*витрина отсортированных перфораторов*/

.buy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.to-bookmarks {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--dark-black);
}

/*номер страницы*/

.page-number {
  margin: 28px 0 0 0;
}

.page-number-list {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 59px 0;
  padding: 0;
}

.page-number-item {
  list-style: none;
}

.page-number-item a {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark-black);
  padding: 10px 15px;
  border: 1px solid var(--beige);
  display: block;
  margin-right: 8px;
  border-radius: 2px;
  text-transform: uppercase;
}

.page-number-item .page-number-next {
  padding-left: 32px;
  padding-right: 32px;
}

.page-number-item a:active {
  border: 1px solid var(--basic-red)
}

.page-number-item .page-number-link-active {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.caption-drill-hammer-story {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-black);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
  word-spacing: 1px
}

.perforators-story {
  padding-top: 64px;
}

.drill-hammer-story {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--dark-black);
  margin: 0;
  padding: 0 0 69px 0;

}

.perforators-story-background {
  background-color: var(--dirty-white);
}

.slide-current {
  display: block;
}

/* модальные окна*/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  z-index: 20;
  box-shadow: 0 20px 40px var(--modal-shadow);
}

.modal-top-bar {
  width: 100%;
  height: 7px;
  background-color: var(--basic-red);
}

.modal-contacts {
  width: 620px;
  height: 430px;
  margin: auto;
}

.modal-top-wrap {
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 39px;

}

.your-name-email-input {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.your-name-input,
.your-email-input {
  display: block;
  margin-right: 20px;
  margin-top: 11px;
  margin-bottom: 13px;
  height: 38px;
  width: 216px;
  padding: 0
}

.your-email-input {
  margin-right: 0;
}

.email-text-textarea {
  display: block;
  width: 100%;
  height: 114px;
  margin-top: 11px;
  margin-bottom: 36px;
}


.modal-submit-bar {
  background-color: var(--modal-grey);
}

.modal-submit {
  padding-top: 11px;
  padding-bottom: 9px;
  width: 456px;
  margin: 37px 80px;
  color: var(--basic-white);
}

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 45px;
  width: 19px;
  height: 3px;
  background-color: var(--basic-red);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/*карта*/

.modal-map-section {
  width: 940px;
  height: 448px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  outline: none;
  z-index: 22;
}

.modal-map-pic {
  background-color: transparent;
  overflow: hidden;
  position: relative;
  box-shadow: 0 20px 40px var(--modal-shadow);
}

.map-top-bar {
  position: absolute;
  top: 0;
  max-width: 943px;
  z-index: 22;
}

.modal-close-map{
  top: 25px;
}

/*оформление закза*/

.modal-basket-top-bar {
  height: 7px;
  max-width: 620px;
  background-color: var(--basic-red);
}

.modal-basket-title {
  color: var(--dark-black);
  margin: 73px auto 67px auto;
  position: relative;
  display: block;
  width: 300px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.modal-basket-title::before {
  position: absolute;
  content: "";
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  left: -90px;
  top: -25px;
}

.modal-basket-section {
  width: 620px;
  height: 282px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--basic-white);
  z-index: 22;
}

.modal-basket-bar {
  background-color: var(--modal-grey);
  padding-top: 37px;
  padding-bottom: 37px;
}

.modal-basket-buttons {
  display: flex;
  justify-content: center;
}

.catalog-modal-buttons {
  width: 192px;
  height: 38px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 11px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.checkout-order-button {
  margin-right: 10px;
}

.continue-shopping-button {
  color: var(--dark-black);
  background-color: var(--basic-white);
}
